@media screen and (max-width:800px) {
    nav a{
        padding:5px;
    } 
    .sign{
        padding: 0px 30px;
        margin-left: 10%;
    }
    .search{
        margin-top: 2%;
        padding: 10px 250px;
    
    }
    .trusted{
        height: 500px;
        width: 95%;
        margin-top: 3%;
        margin-left: 5%;
    }
    .icons{
        margin-left:5%;
    }
    footer{
    flex-direction: column;
    height: 1200px;
    
    }
    .remote{
        width: 90%;
        margin-left: 10%;
    }
    .man{
        margin-left: 10%;
    width: 90%;

    }
    .call{
        margin-left: 3%;
        font-size: large;
        font-weight: bold;
        color: rgb(92, 90, 90);
        margin-top: 30px;
    }
    .icon{
        border: solid 1px rgb(211, 204, 204);
        padding: 10px 5px;
        }
        .new{
            width: 110%;
            height: 300px;
            }
            .pro{
            width: 110%;
            height: 300px;
            }
}
@media screen and (max-width:600px) {
    nav a{
        padding:0px;
        font-size:small;

    } 
    .sign{
        padding: 0px 10px;
        margin-left: 5%;
    }
    .search{
        margin-top: 2%;
        padding: 10px 125px;
    
    }
    .trusted{
        height: 500px;
        width: 95%;
        margin-top: 3%;
        margin-left: 5%;
    }
    .icons{
        margin-left:5%;
        flex-direction: column;
    }
    .ion{
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    .subs{
        flex-direction: column;
        margin-left: 8%;
    }    
    footer{
    flex-direction: column;
    height: 1200px;
    
    }
    .remote{
        flex-direction: column;
        margin-left: 10%;
    }
    .man{
        margin-left: 10%;
    width: 90%;

    }
    .call{
        margin-left: 3%;
        font-size: large;
        font-weight: bold;
        color: rgb(92, 90, 90);
        margin-top: 30px;
    }
    .icon{
        border: solid 1px rgb(211, 204, 204);
        padding: 10px 5px;
        }
        .new{
            width: 110%;
            height: 300px;
            }
            .pro{
            width: 110%;
            height: 300px;
            }
            .test{
                flex-direction: column;
            }
            .product{
                flex-direction: column;
                margin-left:0px;
                
                }
            }
            



